<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>292821615263-o6l6qsmtpje3odvh8shf4ctrjdjgnc76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292821615263-o6l6qsmtpje3odvh8shf4ctrjdjgnc76</string>
	<key>API_KEY</key>
	<string>AIzaSyCCSDyvXaKM9cx5FhqKDW_B4X7aSadrXGM</string>
	<key>GCM_SENDER_ID</key>
	<string>292821615263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielturato.ComputAS</string>
	<key>PROJECT_ID</key>
	<string>computas-b1f57</string>
	<key>STORAGE_BUCKET</key>
	<string>computas-b1f57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292821615263:ios:8189d6046181e58b</string>
	<key>DATABASE_URL</key>
	<string>https://computas-b1f57.firebaseio.com</string>
</dict>
</plist>